@model HasatPiyasa.Web.UI.Models.TuikAddModel
@using DevExtreme.AspNet.Mvc
@{
    ViewData["Title"] = "TuikSubeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.AntiForgeryToken()

@section scripts{


    <script src="~/js/AdminProcess/Process.js"></script>

}

    <div class="row">

        <div class="col-sm-12">
            <div class="d-flex flex-column-fluid">
                <!--begin::Container-->
                <div class="container">
                    <!--begin::Notice-->
                    <!--end::Notice-->
                    <!--begin::Card-->
                    <div class="card card-custom gutter-b">
                        <div class="card-header flex-wrap py-3">
                            <div class="card-title">
                                <h3 class="card-label">
                                    Tüik Şube Listei
                                    <span class="d-block text-muted pt-2 font-size-sm">Tüik &amp; Şube Listesi</span>
                                </h3>
                            </div>
                            <div class="card-toolbar">
                                <!--begin::Dropdown-->
                                <!--end::Dropdown-->
                                <!--begin::Button-->
                                <a href="#" class="btn btn-danger font-weight-bolder" data-toggle="modal" data-target="#tuiksube-adding-modal">
                                    <span class="svg-icon svg-icon-md">
                                        <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <circle fill="#000000" cx="9" cy="15" r="6" />
                                                <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>Yemi Tüik Şube Verisi Ekle
                                </a>
                                <!--end::Button-->
                            </div>
                        </div>
                        <div class="card-body">
                            <!--begin: Datatable-->
                            @(Html.DevExtreme().DataGrid<HasatPiyasa.Core.Entities.TuikSubeDto>().ID("GridContainer")
        .SearchPanel(src => src.Visible(true).Width(250).Placeholder("Ara.."))
        .ShowBorders(true)
        .DataSource(d => d.Mvc().Controller("Admin").LoadAction("TuikSubeListData").Key("Id"))
        .Selection(s => s.Mode(SelectionMode.Single))
        .HoverStateEnabled(true)
        .Columns(columns => {
            columns.AddFor(m => m.SubeName).Caption("Şube Adı").Width(100);
            columns.AddFor(m => m.TuikYear).Caption("Tüik Yılı");

            columns.AddFor(m => m.EmteaName).Caption("Emtea Adı");
            columns.AddFor(m => m.EmteaGroupName).Caption("Emtea Grp Adı");
            columns.AddFor(m => m.EmteaTypeName).Caption("Emtea Tipi");
            columns.AddFor(m => m.TuikYear).Caption("Tüik Yılı");
            columns.AddFor(m => m.TuikValue).Caption("Tüik Verisi");
            columns.AddFor(m => m.GuessYear).Caption("Tahmin Yılı");
            columns.AddFor(m => m.GuessValue).Caption("Tahmini Veri");
            columns.AddFor(m => m.AddedTime).Caption("Eklenme Tarihi");
            columns.Add().Caption("Detay").Width(50)
                .Type(GridCommandColumnType.Buttons)
                .Buttons(btns =>
                {
                    btns.Add().Name(GridColumnButtonName.Edit).Text("Detay");
                }).CellTemplate(@<text>
                <button  title="Detay" onclick="Detail('<%= data.Id %>','<%= data.IsCity %>');"><i class="fa fa-list-alt" aria-hidden="true"></i></button>

            </text>);

            columns.Add().Caption("Düzenle").Width(60)
                   .Type(GridCommandColumnType.Buttons)
                   .Buttons(btns =>
                   {
                       btns.Add().Name(GridColumnButtonName.Edit).Text("Düzenle");
                   }).CellTemplate(@<text>
                <button title="Düzenle" onclick="Edit('<%= data.Id %>','<%= data.IsSale %>');"><i class="fa fa-pen-square" aria-hidden="true" style="color:#1b70cc"></i></button>

            </text>);


    columns.Add().Caption("Sil").Width(50)
             .Type(GridCommandColumnType.Buttons)
             .Buttons(btns =>
             {
                 btns.Add().Name(GridColumnButtonName.Delete).Text("Sil");
             }).CellTemplate(@<text>
                <button title="Silme" onclick="Delete('<%= data.Id %>','<%= data.OrderNumber %>');"><i class="fa fa-trash" aria-hidden="true" style="color:red"></i></button>

            </text>);


        })
        .RemoteOperations(false)
        .AllowColumnReordering(true)
        .RowAlternationEnabled(true)
        .Paging(p => p.PageSize(10))
        .Pager(p => p
            .ShowPageSizeSelector(true)
            .AllowedPageSizes(new[] { 10, 25, 50, 100 })
        )
        .SearchPanel(s => s
            .Visible(true)
            .HighlightCaseSensitive(true)
        )
        .GroupPanel(g => g.Visible(true))
        .Grouping(g => g.AutoExpandAll(false))
        .FilterRow(f => f.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
        .HeaderFilter(f => f.Visible(true))
       .Summary(s => s.TotalItems(items =>
       {
           items.AddFor(m => m.EmteaCode)
           .SummaryType(SummaryType.Count);
           items.AddFor(m => m.TuikValue)
           .SummaryType(SummaryType.Sum);
           items.AddFor(m => m.GuessValue)
          .SummaryType(SummaryType.Sum);

       }))


    )
                            @(Html.DevExtreme().LoadPanel()
        .ID("loadPanel")
        .ShadingColor("rgba(0,0,0,0.4)")
        .Position(p => p.Of("body"))
        .Visible(false)
        .ShowIndicator(true)
        .ShowPane(true)
        .Shading(true)
        .CloseOnOutsideClick(false)
        .Message("Lütfen bekleyiniz..")

    )
                            <!--end: Datatable-->
                        </div>
                    </div>
                    <!--end::Card-->
                    <!--begin::Card-->
                    <!--end::Card-->
                </div>
                <!--end::Container-->
            </div>


        </div>


    </div>

    <div id="tuiksube-adding-modal" class="modal fade updatemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-plus-circle"></i> Tüik Şube Verisi Ekle</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-2" class="control-label">Emtia</label>
                                <select class="form-control" id="drpemtias" asp-for="@Model.Tuik.EmteaId" asp-items="@Model.Emteas" onchange="EmteaChange();">
                                    <option selected value="-1">--Seçiniz--</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="field-2" class="control-label">Emtia Grup</label>
                                <select class="form-control" id="drpemtiagroups" asp-for="@Model.Tuik.EmteaGroupId" asp-items="@Model.EmteaGroups" onchange="EmteaGroupChange();">
                                    <option selected value="-1">--Seçiniz--</option>
                                </select>

                            </div>

                            <div class="form-group">
                                <label for="field-2" class="control-label">Emtia Tipi</label>
                                <select class="form-control" id="drpemtiatypes" asp-for="@Model.Tuik.EmteaTypeId" asp-items="@Model.EmteaTypes">
                                    <option selected value="-1">--Seçiniz--</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="field-2" class="control-label">Şube</label>
                                <select class="form-control" id="drpsubes" asp-for="@Model.Tuik.SubeId" asp-items="@Model.Subes">
                                    <option selected value="-1">--Seçiniz--</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="tuikvalue" class="control-label">Tüik Değeri</label>
                                <input type="text" name="TuikValue" id="tuikvalue" class="form-control" placeholder="Tüik Değeri" />
                            </div>

                            <div class="form-group">

                                <label for="guessvalue" class="control-label">TMO Tahmini</label>
                                <input type="text" name="GuessValue" id="guessvalue" class="form-control" placeholder="TMO Tahmini" />
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-bg-light" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-bg-danger" onclick="SaveTuikSube();" id="submit">Kaydet</button>
                </div>
            </div>

        </div>
    </div>





